<div class="collapse navbar-collapse pull-right">
    <ul class="nav navbar-nav">
        <li>
            <a href="/"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Lists</a>
        </li>
        <li>
            <a href="/user/profile/"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Profile</a>
        </li>
    </ul>
</div>