<ul class="nav navbar-nav pull-right">
    <li class="pull-left">
        <a href="{{url 'todo-list-create'}}">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New List
        </a>
    </li>
    <li class="pull-left">
        <a href="{{url 'todo-lists'}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Lists</a>
    </li>
    <li class="pull-left">
        <a href="{{url 'user-profile'}}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Profile</a>
    </li>
</ul>