<div class="collapse navbar-collapse" id="main-header-menu">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/todo/create/">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New List
            </a>
        </li>
        <li>
            <a href="/"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Lists</a>
        </li>
        <li>
            <a href="/user/profile/"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Profile</a>
        </li>
    </ul>
</div>