<div class="todo-li-meta">
    <div class="todo-li-dsc-wr">
        <div class="todo-li-dsc-mask">{{description}}</div>
        <textarea placeholder="Comment" class="todo-li-dsc form-control">{{description}}</textarea>
    </div>
    <div class="todo-li-btn-remove-wr">
        <input id="chk" class="todo-li-chc" type="checkbox" value="1" />
        <label for="chk" class="todo-li-chc-label todo-li-chc-label--done btn btn-danger">Done</label>
        <label for="chk" class="todo-li-chc-label todo-li-chc-label--process btn btn-default">To Do</label>
        <a href="#" class="todo-li-btn-remove btn btn-default">Remove</a>
    </div>
</div>