<div class="todo-lists-add-btn-wr">
    <button class="todo-lists-add-btn btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        &nbsp;Add
    </button>
</div>
<div class="todo-lists-l btn-group-vertical"></div>
