<div style="margin: 10px;">
    <div class="clearfix">
        <div id="menu-bar"></div>
        <div id="request-bar"></div>
        <h1 id="mainHeader"></h1>
        <div id="response-bar">
            <div id="form-head" class="clearfix request-param"></div>
            <form id="form" action="{{action}}">
                <div id="form-content"></div>
                <div class="form-submit clearfix">
                    <input id="form-submit" type="submit" class="btn btn-warning pull-left"/>
                    <button type="button" style="margin-left: 5px" class="btn btn-default putData pull-right">Invalid</button>
                    <button type="button" style="margin-left: 5px" class="btn btn-default putData pull-right -valid">Valid</button>
                    <button type="button" style="margin-left: 5px" class="btn btn-default putData pull-right -prev">Previous</button>
                </div>
            </form>
            <div id="errors"></div>
            <div id="response-panels"></div>
        </div>
    </div>
</div>