# ide and os files
/.idea/
*.idea/
/npm-debug.log
*.DS_Store
*.desktop
*.thumb
*/.~*
*/~*
*/*~
*.sublime*


# compile files
/node_modules/
/bower_components/
/_local/
/deploy/
/build/client/
/build/private.cache/
!/build/private.cache/.htaccess
!/build/private.cache/session/.htaccess
/build/opt/
/build/api/
/build/api-test/