# ide and os files

/.idea/
/npm-debug.log
*.DS_Store
/robots.txt
*.desktop
*/.~*
*/~*
*/*~
*.sublime*



# temp local files

/node_modules/
/bower_components/



# temp compile files
/_local/
/temp/
/_temp_/
/build/
/build_production/
/build_development/
/build_testing/
/server/api/
/server/_generated_/


#build files

/build/client/
/client/



# server ignore

/server/application/logs/
!/server/application/logs/index.html
!/server/application/logs/.htaccess
/server/application/cache/
!/server/application/cache/index.html
!/server/application/cache/.htaccess
