# ide and os files
/.idea/
*.DS_Store
*/~*
*/*~

# temp local files
/node_modules/
/bower_components/

# temp compile files
/temp/

#build files
/client/

# server ignore
/server/application/logs/
/server/application/cache/
!/server/application/cache/index.html
!/server/application/cache/.htaccess