<div class="todo-list-item">

    <div class="todo-list-item-header clearfix">
        <a href="/todo/{{listId}}/item/" class="btn btn-default todo-list-item-back-btn">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="glyphicon glyphicon-list-alt"></span>
        </a>
    </div>

    <div class="todo-list-item-head">
        <input id="todo-list-item-chk" class="chk todo-list-item-done-chk" type="checkbox" value="1"{{#if done}} checked="checked"{{/if}}/>
        <label for="todo-list-item-chk" class="todo-list-item-done btn btn-default" data-chk-on="Was Done" data-chk-off="Done"></label>
        <button class="btn btn-success todo-list-item-save">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;&nbsp;Save And Back To List
        </button>
    </div>

    <div class="todo-list-item-body">
        <textarea placeholder="Comment" class="todo-list-item-title form-control">{{title}}</textarea>
    </div>

    <div class="todo-list-item-foot">
        <button class="todo-li-btn-remove btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;&nbsp;Remove
        </button>
    </div>

</div>