<div class="todo-list-item">

    <div class="todo-list-item-header clearfix">
        <a href="/todo/{{listId}}/item/" class="btn btn-default todo-list-item-back-btn">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="glyphicon glyphicon-list-alt"></span>
        </a>
    </div>


    <div class="todo-list-item-head">

        <button class="todo-li-btn-remove btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;&nbsp;Remove
        </button>

        <button class="btn btn-success todo-list-item-save">Save</button>

        <input id="todo-list-item-chk" class="chk todo-list-item-done-chk" type="checkbox" value="1"{{#if done}} checked="checked"{{/if}}/>
        <label for="todo-list-item-chk" class="todo-list-item-done">Done</label>

    </div>

    <div class="todo-list-item-body">
        <textarea placeholder="Comment" class="todo-list-item-title form-control">{{title}}</textarea>
    </div>

</div>