<div class="todo-lists">
    <div class="todo-lists-add-btn-wr">
        <a href="/user/profile/" class="btn btn-default">
            <span class="glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;Profile
        </a>
        <a href="/todo/create/" class="todo-lists-add-btn btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            &nbsp;&nbsp;ADD
        </a>
    </div>
    <ul class="todo-lists-l"></ul>
</div>