<div class="todo-list-share">
    <div class="todo-list-share-head">
        <input id="todo-list-share-chk" class="chk todo-list-share-chk" type="checkbox" value="1"{{#if shared}} checked="checked"{{/if}}/>
        <label for="todo-list-share-chk" class="todo-list-share-chk-btn btn btn-default pull-left" data-chk-on="This List Shared" data-chk-off="Share This Link"></label>
        <button class="pull-right btn btn-success todo-list-share-save">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;&nbsp;Save And Back
        </button>
    </div>
    <div class="todo-list-share-body">
        <div class="todo-list-share-link-wr{{#if shared}} -active{{/if}}">
            <div class="input-group">
                <span class="input-group-addon">Link to Share:</span>
                <input class="form-control todo-list-share-link" type="text" value="{{link}}"/>
            </div>
        </div>
    </div>
</div>
