<div class="todo-list">
    <div class="todo-list-line"></div>
    <div class="todo-list-head">
        <div class="todo-list-title-wr">
            <input type="text" class="-click2edit form-control todo-list-title" placeholder="Tasks List Name" value="{{title}}"/>
        </div>
        <div class="input-group todo-list-task-input-wr">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default todo-list-filter-main-btn dropdown-toggle{{#if _prop.filter.done}} active{{else}}{{#if _prop.filter.active}} active{{/if}}{{/if}}" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li{{#if _prop.filter.active}} class="active"{{/if}}>
                        <a class="todo-list-filter-btn" data-filter="active" href="#">Active Only</a>
                    </li>
                    <li{{#if _prop.filter.done}} class="active"{{/if}}>
                        <a class="todo-list-filter-btn" data-filter="done" href="#">Done Only</a>
                    </li>
                    <li class="divider"></li>
                    <li{{#if _prop.filter.done}}{{else}}{{#if _prop.filter.active}}{{else}} class="active"{{/if}}{{/if}}>
                        <a class="todo-list-filter-btn" data-filter="all" href="#">All</a>
                    </li>
                </ul>
            </div>
            <input type="text" class="form-control todo-list-input-add"  placeholder="Add new task here...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-success todo-list-input-add-submit">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="todo-list-body">
        <ul class="todo-list-l"></ul>
        <div class="todo-list-trash">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Move to remove
        </div>
    </div>
    <div class="modal fade">
        <div class="modal-dialog"></div>
    </div>
</div>