<div class="todo-lists">
    <div class="text-center todo-lists-add-btn-wr">
        <a href="/todo/create/" class="todo-lists-add-btn btn btn-danger btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>
            &nbsp;&nbsp;Create List
        </a>
    </div>
    <ul class="todo-lists-l"></ul>
</div>