<div class="row">
    <div class="col-xs-6 col-md-4">
        {{{left}}}
    </div>
    <div class="col-xs-6 col-md-4">
        {{{center}}}
    </div>
    <div class="col-xs-6 col-md-4">
        {{{right}}}
    </div>
</div>