<div class="crm-project-project">
	<h1><small>Project</small> {{name}}</h1>
	<div class="row">
		<div class="col-sm-10">&nbsp;</div>
		<div class="col-sm-10">
            <div class="panel panel-default">
				<div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{url 'crm-project-leeds' id}}">Leeds</a></li>
                    </ul>
				</div>
            </div>
		</div>
		<div class="col-sm-10">&nbsp;</div>
	</div>
</div>