@import '../base/mixins';

html {
	height: 100%;
	overflow-y: scroll;
}
body {
	background: #f6f6f6;
}
.main {
	._clearfix();
	position: relative;
}
.main-wrapper {
	margin-top: 60px;
}
.main-footer {
	position: relative;
}
body {
	height: 100%;
	min-height: 100%;
}
.navbar {
	min-height: 10px !important;
}
.navbar-nav {
	margin: 0 !important;
}
.navbar-nav > li > a {
	padding: 7px 0 !important;
}
.navbar-nav > li + li {
	margin-left: 15px;
}