<h1 id="mainHeader" style="margin: 10px;"></h1>
<div style="margin: 10px;">
    <div class="clearfix">
        <div id="menu-bar"></div>
        <div id="request-bar">
            <div class="clearfix request-param">
                <div class="pull-right" style="margin-left: 10px;">
                    <label>METHOD</label>
                    <select id="_METHOD_" class="form-control" style="width: 110px;">
                        <option value="GET">GET</option>
                        <option value="PUT">PUT</option>
                        <option value="POST">POST</option>
                        <option value="DELETE">DELETE</option>
                        <option value="PATCH">PATCH</option>
                        <option value="PATCH">OPTION</option>
                        <option value="PATCH">HEAD</option>
                    </select>
                </div>
                <div class="pull-right" style="margin-left: 10px;">
                    <label>SEND FORMAT</label>
                    <select id="_FORMAT_" class="form-control" style="width: 110px;">
                        <option value="json">JSON</option>
                        <option value="params">Params</option>
                    </select>
                </div>
                <div style="overflow: hidden;">
                    <label>URL</label>
                    <input type="text" id="_URL_" value="{{action}}" class="form-control"/>
                </div>
            </div>
        </div>
        <div id="response-bar">
            <form id="form" action="{{action}}">
                <div id="form-content"></div>
                <div class="form-submit">
                    <input id="form-submit" type="submit" class="btn btn-success"/>
                </div>
            </form>
            <div id="errors"></div>
            <div id="response-panels"></div>
        </div>
    </div>
</div>