form > .form-control + .form-control {
	margin-top: 10px;
}
body {
	margin: 0 !important;
	padding: 0 !important;
}
.panel-body:before {
	content: "";
}
#mainHeader {
	font-size: 24px;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
#menu-bar h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	padding: 5px 0;
	color: #aaa;
	font-weight: normal;
}
.requestParams-panel-wr {
}
.form-panel-wr { overflow: hidden; }
#request-bar {
	float: right;
	width: 38%;
	margin-left: 20px;
}
#response-bar {
	overflow: hidden;
}
#menu-bar {
	display: block;
	float: left;
	width: 200px;
	margin-right: 20px;
}
#menu-bar .panel-title a {
	display: block;
	font-weight: bold;
}
.panel-heading {
	padding: 5px;
	background: #eee;
}

#menu-bar .nav > li > a {
	padding: 5px;
}

.panel-body {
	padding: 5px;
}

.panel-body:after {
	display: none;
}
#sendInfo,
#responseJSON,
#response,
#responseHTML,
#requestParams,
#requestDataNonFormat,
#responseHeadersNonFormat {
	white-space: pre;
	overflow-x: hidden;
	font-size: 13px;
	line-height: 1.2;
	font-family: 'Courier New',monospace;
	margin-bottom: 15px;
}
#sendInfo:empty,
#responseJSON:empty,
#response:empty,
#responseHTML:empty,
#requestParams:empty,
#requestDataNonFormat:empty,
#responseHeadersNonFormat:empty {
	display: none;
}
#sendInfo:hover,
#responseJSON:hover,
#response:hover,
#responseHTML:hover,
#requestParams:hover,
#requestDataNonFormat:hover,
#responseHeadersNonFormat:hover {
	overflow-x: scroll;
	margin-bottom: 0;
}
#response {
	word-break: keep-all;
	white-space: pre-wrap;
}
b.index {
	color: #86001a;
	font-weight: normal;
}
b.bool {
	color: blue;
	font-weight: normal;
}
b.number {
	color: red;
	font-weight: normal;
}
b.string {
	color: #009500;
	font-weight: normal;
}
i.coma {
	color: black;
	font-style: normal;
	font-weight: bold;
}
i.braked {
	color: black;
	font-style: normal;
	font-weight: normal;
}

#form {
	display: block;
	padding: 10px;
	border: 2px solid #eee;
	margin: 4px 4px 20px;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
#form .request-param input:not(:focus),
#form .request-param select:not(:focus){
	border-color: transparent;
}
#form .request-param select {
	padding-left: 0;
	padding-right: 0;
}
#form-content {
	background: #FFEA96;
	padding: 4px;
	border: 1px solid #ccc;
	margin: 8px 0;
}
#form-content:empty {
	display: none;
}
#form .request-param {
}
#formTitle {
	content: "Form:";
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	display: block;
}
.form-submit {
}
.form-cover {
	overflow: hidden;
	display: table-row;
}
.form-cover.-boolean .btn,
.form-cover.-bool .btn {
	padding: 0 0 0 20px;
	min-width: 1px;
}
.form-cover.-boolean .btn:after,
.form-cover.-bool .btn:after {
	content:"";
}
.form-cover.-boolean .btn + .btn,
.form-cover.-bool .btn + .btn {
	margin-left: 10px;
}
.form-cover.-boolean .btn input,
.form-cover.-bool .btn input {
	display: block;
	float: right;
	margin-left: 10px;
}
.form-cover label {
	font-weight: normal;
	padding: 0;
	margin: 0;
	display: table-cell;
	text-align: right;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 32px;
	min-width: 150px;
}
.form-cover label:after {
	content: ":";
}
.form-cover .form-control-wr {
	padding: 4px;
	width: 100%;
	display: table-cell;
	overflow: hidden;
}