@import "../../../inc/styles/mixins/mixins";

@jsonFCommaSize: @pad * 4;
@jsonFFontSize: 12px;

.json-f-index {
	display: block;
	font-family: @font-mono;
	font-size: @jsonFFontSize;
}
.json-f-key {
	display: block;
	float: left;
	padding-right: @pad;
}
.json-f-key.json-f-v-it {
	cursor: pointer;
	position: relative;
}
.json-f-key.json-f-v-it:hover {
	text-decoration: underline;
}
.json-f-key.json-f-v-it.-json-f-closed:before {
	content: '...(' attr(data-json-it-length) ')';
	color: #999;
	position: absolute;
	left: 100%;
	top: 0;
}
.json-f-key.json-f-v-it.-json-f-closed + .json-f-value.json-f-it {
	display: none;
}
.json-f-object-key {
	color: #86001a;
	font-weight: normal;
}
.json-f-array-key {
	color: #4062ae;
	font-weight: normal;
}
.json-f-array-key:after {
	content: ':';
}
.json-f-object-key:after {
	content: ':';
}
.json-f-array-key {

}
.json-f-block {
	display: block;
	overflow: hidden;
	clear: left;
	padding-left: @jsonFCommaSize / 2;
	margin-left: ceil(@jsonFFontSize / 4);
	border-left: 1px dotted #eee;
}
.json-f-value {
	display: block;
}
.json-f-string {
	color: #299511;
	font-weight: normal;
}
.json-f-string:empty:before {
	content: '"empty string"';
	color: #999;
}
.json-f-undefined {
	color: #999;
	font-weight: normal;
}
.json-f-it {

}
.json-f-smpl {
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	opacity: 1;
}
.json-f-smpl:hover {
	opacity: 0.8;
	cursor: pointer;
}
.json-f-smpl.-json-f-norm {
	white-space: normal;
	text-overflow: clip;
}
.json-f-null {
	color: #6f9aff;
	font-weight: normal;
}
.json-f-number {
	color: red;
	font-weight: normal;
}
.json-f-object {

}
.json-f-nan {
	color: #6f9aff;
	font-weight: normal;
}
.json-f-array {

}
.json-f-array:empty:after {
	content: '[empty array]';
	color: #999;
}
.json-f-object:empty:after {
	content: '{empty object}';
	color: #999;
}
.json-f-boolean {
	color: #0300ff;
	font-weight: normal;
}
.json-f-array-key + .json-f-object {
	overflow: hidden;
}
.json-f-array-key + .json-f-object > .json-f-block,
.json-f-index > .json-f-it > .json-f-block {
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}