
.json-index {
	color: #86001a;
	font-weight: normal;
}
.json-bool {
	color: blue;
	font-weight: normal;
}
.json-number {
	color: red;
	font-weight: normal;
}
.json-string {
	color: #009500;
	font-weight: normal;
}
.json-coma {
	color: black;
	font-style: normal;
	font-weight: bold;
}
.json-braked {
	color: black;
	font-style: normal;
	font-weight: normal;
}