@import "../../../inc/styles/mixins/mixins";

#api-tester {
	& {
		padding-top: 40px;
	}
	.panel {
//		box-shadow: 0 1px 2px rgba(0,0,0,1);
	}
	.panel-heading {
		padding: @pad;
		color: #555;
	}
	.panel-body {
		padding: @pad;
		font-size: 13px;
	}
	.panel-run .panel-body {
		padding: 0;
	}
	pre.panel-body {
		padding: 5px;
		border: none;
		background: none;
		font-family: @font-family-monospace;
		margin: 0;
	}
	.panel-body:before {
		content: '';
	}
	.panel-body:after {
		content: '';
	}
	.panel-body:empty {
		display: none !important;
	}
	.panel-title,
	.panel-heading {
		border: none !important;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 12px;
	}
	.panel-body {
		border-top: 1px solid #ccc !important;
	}
	.panel-raw {
		.panel-heading {
			> span {
				display: block;
				height: 12px;
				line-height: 14px;
			}
			.panel-raw-toggle {
				margin: 0;
				text-transform: uppercase;
				font-size: 12px;
				height: 12px;
				line-height: 14px;
				color: #666;
				opacity: 0.8;
				cursor: pointer;
				display: none;
				float: right;
				padding-bottom: 0 !important;
			}
			&:hover .panel-raw-toggle {
				display: block;
			}
			.panel-raw-toggle:hover {
				color: #000;
				opacity: 1;
			}
			input[type="checkbox"] {
				padding: 0;
				margin: 0;
				line-height: 1;
				font-size: 12px;
				height: 12px;
				width: 12px;
				float: right;
				cursor: pointer;
			}
		}
	}

	#api-tester-spec-ctrl,
	#api-tester-spec-action {
		&:before {
			display: block;
			font-size: 12px;
			color: #777;
			line-height: 1;
		}
		& {
			display: block;
			margin: @pad * 4 0;
			padding: 0;
			font-size: 20px;
			line-height: 1.2;
		}
	}
	#api-tester-spec-ctrl:before {
		content: 'controller:';
	}
	#api-tester-spec-action:before {
		content: 'action:';
	}
	#api-tester-spec-description:before {
		content: 'api-tester-spec-description:';
		display: block;
		font-size: 12px;
		color: #777;
		line-height: 1;
	}
	#api-tester-spec-description:empty {
		display: none;
	}
	#api-tester-spec-name:empty {
		display: none;
	}
	.api-tester-spec-wr {
		display: block;
		padding: 0 0 @pad * 4;
	}

	#api-tester-form-submit-wr {
		display: block;
		padding: @pad * 4 0 @pad * 10;
	}

	#api-tester-options-wr {
		& {
			margin-top: @pad * 6;
		}
		.form-group {
			margin: 0;
		}
		.form-group + .form-group{
			margin-top: @pad;
		}
	}

	.panel-run .panel-body {
		background: rgb(255, 253, 215);
	}

	#form-head .row + .row {
		padding-top: @pad;
	}

	#api-tester-form,
	#form-head {
		& {
			margin: -13px 0 0;
		}
		label.form-label {
			display: block;
			text-transform: uppercase;
			font-size: 10px;
			line-height: 1.2;
			padding: 0;
			margin: 0;
			color: #555;
			font-weight: normal;
			position: relative;
		}
		label.form-label:after {
			content: ':';
		}
		label.form-label .label{
			position: absolute;
			top: 0;
			right: 0;
		}
		.form-control-wr + .form-control-wr {
			padding-top: @pad * 2;
		}
	}

	#api-tester-form {
		margin-top: 0;
		.clearfix();
	}

	.panel-body-content {
		padding: @pad;
	}
	.panel-body-content:empty {
		display: none;
	}

	.api-tester-history-item {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}