@import "../../../inc/styles/mixins/mixins";

#api-tester {
	& {
		padding-top: 40px;
	}
	.panel {
//		box-shadow: 0 1px 2px rgba(0,0,0,1);
	}
	.panel-heading {
		padding: @pad;
		color: #555;
		background: #fafafa;
	}
	.panel-body {
		padding: @pad;
		font-size: 13px;
	}
	.panel-run .panel-body {
		padding: 0;
	}
	pre.panel-body {
		padding: 5px;
		border: none;
		background: none;
		font-family: @font-family-monospace;
		margin: 0;
	}
	.panel-body:before {
		content: '';
	}
	.panel-body:after {
		content: '';
	}
	.panel-body:empty {
		display: none !important;
	}
	.panel-title,
	.panel-heading {
		border: none !important;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 12px;
	}
	.panel-body {
		border-top: 1px solid #ccc !important;
	}
	.panel-raw-select {
		float: right;
		margin: -5px -5px -5px 0;
	}
	.panel-raw-select select {
		opacity: 0;
	}
	.panel-raw-select select:hover,
	.panel-raw-select select:focus,
	.panel-raw-select:hover select,
	.panel-raw-mlt .panel-heading:hover .panel-raw-select select {
		opacity: 1;
	}
	.panel-raw-mlt table {
		& {
			margin: 0;
			padding: 0;
		}
		td, th {
			& {
				font-family: @font-mono;
				font-size: 12px;
				line-height: 1.2;
				padding: floor(@pad / 2) @pad * 2;
				border-top-style: dashed;
			}
			&:last-child {
				padding-right: 0;
			}
			&:first-child {
				width: 1px;
			}
		}
		thead tr:last-child {
			td, th {
				border-top: 1px solid @brand-primary;
				border-bottom: 1px solid @brand-primary;
				background: @brand-primary;
				color: #fff;
				font-weight: normal;
				text-shadow: none;
				text-transform: uppercase;
			}
		}
		th + th,
		td + td {
			border-left: 1px dashed @gray-lighter;
		}
	}
	.panel-raw {
		.panel-heading {
			> span {
				display: block;
				height: 12px;
				line-height: 14px;
			}
			.panel-raw-toggle {
				margin: 0;
				text-transform: uppercase;
				font-size: 12px;
				height: 12px;
				line-height: 14px;
				color: #666;
				opacity: 0.8;
				cursor: pointer;
				display: none;
				float: right;
				padding-bottom: 0 !important;
			}
			&:hover .panel-raw-toggle {
				display: block;
			}
			.panel-raw-toggle:hover {
				color: #000;
				opacity: 1;
			}
			input[type="checkbox"] {
				padding: 0;
				margin: 0;
				line-height: 1;
				font-size: 12px;
				height: 12px;
				width: 12px;
				float: right;
				cursor: pointer;
			}
		}
	}

	#api-tester-spec-ctrl,
	#api-tester-spec-action {
		&:before {
			display: block;
			font-size: 12px;
			color: #777;
			line-height: 1;
		}
		& {
			display: block;
			margin: @pad * 4 0;
			padding: 0;
			font-size: 20px;
			line-height: 1.2;
		}
	}
	#api-tester-spec-ctrl:before {
		content: 'controller:';
	}
	#api-tester-spec-action:before {
		content: 'action:';
	}
	#api-tester-spec-description:before {
		content: 'api-tester-spec-description:';
		display: block;
		font-size: 12px;
		color: #777;
		line-height: 1;
	}
	#api-tester-spec-description:empty {
		display: none;
	}
	#api-tester-spec-name:empty {
		display: none;
	}
	.api-tester-spec-wr {
		display: block;
		padding: 0 0 @pad * 4;
	}

	#api-tester-form-submit-wr {
		display: block;
		padding: @pad * 4 0 @pad * 10;
	}

	#api-tester-options-wr {
		& {
			margin-top: @pad * 6;
		}
		.form-group {
			margin: 0;
		}
		.form-group + .form-group{
			margin-top: @pad;
		}
	}

	.panel-run .panel-body {
		background: rgb(255, 253, 215);
	}

	#form-head .row + .row {
		padding-top: @pad;
	}

	label.form-label {
		display: block;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 12px;
		padding: 0;
		margin: 0;
		color: #555;
		font-weight: normal;
		position: relative;
	}
	label.form-label:after {
		content: ':';
	}
	label.form-label .label {
		font-size: 12px;
		padding: 0 @pad;
		line-height: 12px;
		font-family: @font-mono;
		border-radius: 0;
		font-weight: normal;
		height: 12px;
		letter-spacing: 1px;
	}

	#api-tester-form,
	#form-head {
		& {
			margin: -13px 0 0;
		}
		.label .glyphicon {
			line-height: 11px;
		}
		.form-control-wr + .form-control-wr {
			padding-top: @pad * 2;
		}
	}

	#api-tester-form {
		margin-top: 0;
		.clearfix();
	}

	.panel-body-content {
		padding: @pad;
	}
	.panel-body-content:empty {
		display: none;
	}

	.api-tester-history-item {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.api-tester-debug-time-graph {
		position: relative;
		width: 100%;
		font-family: @font-mono;
	}
	.api-tester-debug-time-graph-in {
		height: 240px;
		position: relative;
		margin: 0 auto;
	}
	.api-tester-debug-time-graph-l {
		height: 240px;
		position: relative;
		width: 100%;
	}
	.api-tester-debug-time-graph-li {
		height: 40px;
		background: rgba(0, 153, 0, 0.34);
		position: absolute;
		top: 30%;
		left: 0;
		outline: 1px solid #009900;
		font-size: 15px;
		opacity: 0.7;
	}
	.api-tester-debug-time-graph-li:before {
		content: attr(data-number);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		color: #009900;
	}
	.api-tester-debug-time-graph-li:hover {
		outline: 1px solid red;
		opacity: 1;
	}
	.api-tester-debug-time-graph-log {
		position: absolute;
		display: block;
		height: 30px;
		width: 2px;
		background: #307bff;
		top: 0;
		left: -1px;
		font-size: 10px;
		opacity: 0.7;
	}
	.api-tester-debug-time-graph-log:after,
	.api-tester-debug-time-graph-log:before {
		content: '';
		position: absolute;
		left: 50%;
		margin-left: -4px;
		border: 4px solid transparent;
	}
	.api-tester-debug-time-graph-log:before {
		top: 0;
		border-top-color: #307bff;
	}
	.api-tester-debug-time-graph-log:after {
		bottom: 0;
		border-bottom-color: #307bff;
	}
	.api-tester-debug-time-graph-log.-db-query {
		background: orange;
	}
	.api-tester-debug-time-graph-log.-db-query:before {
		border-top-color: orange;
	}
	.api-tester-debug-time-graph-log.-db-query:after {
		border-bottom-color: orange;
	}
	.api-tester-debug-time-graph-log:hover {
		opacity: 1;
	}
	.api-tester-debug-time-graph-ruler {
		position: absolute;
		height: 100%;
		top: 0;
		bottom: 0;
		width: 1px;
		background: #ccc;
	}
	.api-tester-debug-time-graph-ruler:after {
		content: attr(data-percent) '%';
		position: absolute;
		left: 1px;
		bottom: 0;
		color: #777;
		font-size: 14px;
		line-height: 1;
	}
	.api-tester-debug-time-graph-ruler[data-percent="0"] {
		left: 0;
	}
	.api-tester-debug-time-graph-ruler[data-percent="25"] {
		left: 25%;
	}
	.api-tester-debug-time-graph-ruler[data-percent="50"] {
		left: 50%;
	}
	.api-tester-debug-time-graph-ruler[data-percent="75"] {
		left: 75%;
	}
	.api-tester-debug-time-graph-ruler[data-percent="100"] {
		right: 0;
	}
	.api-tester-debug-time-graph-ruler[data-percent="100"]:after {
		left: auto;
		right: 1px;
	}
	.api-tester-debug-time-graph-h {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		font-size: 12px;
		line-height: 1;
		text-align: right;
		z-index: 0;
		font-weight: normal;
		font-family: @font-mono;
		margin: 0;
	}
	.api-tester-debug-time-graph-req-time {
		margin-top: 10px;
		width: 100%;
		position: relative;
		height: 20px;
		background: rgba(255, 229, 0, 0.47);
		outline: 1px solid rgba(255, 229, 0, 1);
		opacity: 0.8;
	}
	.api-tester-debug-time-graph-req-time:after {
		font-size: 12px;
		line-height: 1;
		content: attr(title);
		position: absolute;
		top: 0;
		right: 0;
	}
}