<li class="todo-lists-li{{#if shared}} -shared{{/if}}" data-listId="{{listId}}">
    <span class="glyphicon glyphicon-resize-vertical todo-lists-li-move"></span>
    <button class="btn todo-lists-li-remove btn-default">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</li>