@import url('../base/base.less');

.todo-list {
}
.todo-list-head {
	padding: 0 0 30px;
}
.todo-list-filter-main-btn {
}
.todo-list-body {
	padding: 0 0 20px;
}
.todo-list-title {
	font-size: 20px !important;
	color: #777 !important;
}
.todo-list-title-wr {
	background: #f8f8f8;
	padding-bottom: 20px;
}
.todo-list-input {
	margin-bottom: 40px;
}
.todo-list-l {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.todo-list-back-wr {
	position: absolute;
	top: -57px;
	right: 5px;
}
.todo-list-back {
	width: 50px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}