@import url('../base/base.less');

.todo-list { }
.todo-list-head { padding: 15px 0 5px; }
.todo-list-title-wr { }
.todo-list-filter-main-btn {}
.todo-list-body { padding: 0 0 20px; }
.todo-list-title { font-size: 20px !important; color: #428bca !important; }
.todo-list-title-wr { position: fixed; top: 8px; z-index: 1030; background: #f8f8f8; }
.todo-list-input { margin-bottom: 40px; }
.todo-list-l { margin: 0; padding: 0; display: block; list-style: none; }
.todo-list-back-wr { position: absolute; top: -57px; right: 5px; }
.todo-list-back { width: 50px; padding-left: 0; padding-right: 0; text-align: center; }