@import url('../base/base.less');

@listItemHeight: 16px + 20px;
.todo-list-li { overflow: hidden; border: 1px solid #ccc; ._grad_v(#ffffff, #eeeeee); display: block; list-style: none; border-radius: 4px; }
.todo-list-li + .todo-list-li { margin-top: 5px; }
.todo-list-li:hover { ._grad_v(#ffffff, #dddddd); }
.todo-list-li.ui-sortable-helper { border: 1px solid #ccc; background: #fff; border-left: none; border-right: none; width: 100%; }
.todo-list-li-placeholder { height: @listItemHeight; }
.todo-list-li:first-child { border-top-color: #ccc; }
.todo-list-li .chk + label { float: right; position: relative; z-index: 1; margin: 10px 10px 0; }
.todo-list-li-move { float: left; display: block; text-align: center; width: 20px !important; height: @listItemHeight; line-height: @listItemHeight + 4px  !important; cursor: pointer; }
.todo-list-li-move:hover { background: #eee; }
.todo-list-li-link { display: block; ._text(16px, @listItemHeight); ._text_overflow(); padding: 0 10px; height: @listItemHeight; }
.todo-list-li.-done .todo-list-li-link { text-decoration: line-through; color: #aaa; }
