@import url('../base/base');

.todo-paginator-li { float: left; display: block; }
.todo-paginator-li-link { display: block; text-align: center; ._text(16px, 20px); height: 20px; border: 1px solid #ccc; border-right-width: 0; border-top-color: #00a329; }
.todo-paginator-li-link:hover { text-decoration: none; background: #fcedd4; }
.todo-paginator-li:first-child .todo-paginator-li-link{ border-left-width: 0; }
.todo-paginator-li.-active .todo-paginator-li-link { background: #eea236; color: #fff; border-color: #d79134; border-left-width: 1px; border-right-width: 1px; border-top-width: 0; }
.todo-paginator-li.-active .todo-paginator-li-link:hover { background: #d79134; }
.todo-paginator-li.-active + .todo-paginator-li .todo-paginator-li-link { border-left: none; }
