<div class="todo-l-title-wr">
    <div class="input-wr">
        <input type="text" class="input--click2edit input--tx-center form-control input-lg todo-l-title" placeholder="My tasks" value="{{title}}"/>
    </div>
</div>
<div class="todo-l-wr">
    <div class="input-group todo-l-input ">
        <input type="text" class="form-control todo-l-input-add"  placeholder="Add task here...">
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary todo-l-input-add-submit"><span class="glyphicon glyphicon-plus"></span> ADD</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#" class="remove-todo-btn">Remove This Todo List</a></li>
            </ul>
        </div>
    </div>
    <div class="todo-l"></div>
</div>