<form action="/server/">

    <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="text" class="form-control">
    </div>
    <br>

    <div class="input-group">
        <span class="input-group-addon">Password</span>
        <input type="password" class="form-control">
    </div>
    <br>

    <div class="input-group">
        <span class="input-group-addon">Confirm Password</span>
        <input type="password" class="form-control">
    </div>
    <br>

    <button class="btn btn-success register-submit">Send</button>
    <br>

    <div class="alert alert-success"></div>
</form>