Welcome to List slider.


<div style="padding: 200px 0;">
    <div class="btn-group-vertical">
        <a href="/login/" class="btn btn-success">Login</a>
        <a href="/todo/" class="btn btn-default">Todo</a>
    </div>
</div>