<div class="todo-list-nav">
    <a href="{{url 'todo-list' prevListId}}" class="todo-list-nav-prev">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <a href="{{url 'todo-list' nextListId}}" class="todo-list-nav-next">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>