<div class="modal-content todo-item{{#if done}} -done{{/if}}">
    <div class="modal-header clearfix">
        <button class="todo-li-btn-remove btn btn-sm btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <textarea placeholder="{{t 'todo.description'}}" class="todo-list-item-title form-control">{{title}}</textarea>
    </div>
</div>