<div class="user-profile">
    <div class="text-center user-profile-logout-wr">
        <a href="{{url 'user-logout'}}" class="btn btn-default btn-lg user-profile-logout">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;{{t 'user.profile.log_out'}}
        </a>
    </div>
</div>