<div class="welcome">
    <h1>Welcome to <b>Listslider</b></h1>
    <div class="clearfix welcome-btns">
        <a href="{{url 'user-register'}}" class="btn btn-lg btn-warning">Try Service</a>
        <a href="{{url 'user-login'}}" class="btn btn-lg btn-success">Sign In</a>
    </div>
    <h2>This service is for people who want to do everything and not to forget anything.</h2>
    <h2>You can manage your to-do lists, and open access to read other people.</h2>
</div>