extends ../../inc/templates/layout-empty

mixin flag(id, text, value, trueMessage, falseMessage)
	.form-control-wr
		if text
			label= text
		select.form-control.input-sm(id=id)
			option(value=1, selected=(value ? true : false))= trueMessage ? trueMessage : 'Yes'
			option(value=0, selected=(value ? false : true))= falseMessage ? falseMessage : 'No'

block container
	script
		!= 'window.MY_ROOT = "/api-tester";'
		!= 'window.API_ROOT = "/api/";'
		!= 'window.API_JSON = ' + JSON.stringify(specsSrc) + ';'
		!= 'window.API_ROUTES_JSON = ' + JSON.stringify(routes) + ';'
	#test
	div(style="margin: 15px 15px 0;")
		.row#api-tester

			.col-md-7#api-tester-info

				.api-tester-spec-wr
					.input-group
						select.form-control.input-sm#api-tester-spec-name
							option(disabled,selected)= ''
							each spec in specsSrc
								option(value= spec.name)= spec.name
						.input-group-btn
							a#api-tester-spec-reset.btn.btn-default.btn-sm(href='#') Clear

					h2#api-tester-spec-ctrl
					h2#api-tester-spec-action
					div#api-tester-spec-description

				+pre-panel('interaction-info', 'Info')
				+raw-panel('request-data', 'Request Data')
				+raw-panel('response-headers', 'Response Headers')

			.col-md-13#api-tester-response
				#errors

				+raw-panel('response-data', 'Response Data')

			.col-md-10#api-tester-request

				#form-head.clearfix
					.row
						.col-sm-30
							.form-control-wr
								label Route
								select#form-route.input-sm.form-control
					.row
						.col-sm-10
							.form-control-wr
								label Method
								input#form-route-method.input-sm.form-control(type="text",placeholder='http method')
						.col-sm-10
							.form-control-wr
								label Request
								input#form-request-format.input-sm.form-control(type="text", placeholder='request data format', value="json")
						.col-sm-10
							.form-control-wr
								label Resposne
								input#form-response-format.input-sm.form-control(type="text", placeholder='response data format', value="json")

					.row
						.col-sm-30
							.form-control-wr
								label Request Uri
								input#form-route-url.input-sm.form-control(type="text", placeholder='request url')

				#api-tester-form-submit-wr.clearfix
					button#api-tester-form-submit.btn-block.btn.btn-danger.btn-lg(type="submit") Submit
					//button.btn.btn-default.putData.pull-right Invalid
					//button.btn.btn-default.putData.pull-right.-valid Valid

				form#api-tester-form
					+run-panel('form-params',  'Request data (Url Params)')
					+run-panel('form-body',  'Request data (Body)')
					+run-panel('form-query', 'Request data (Query)')

				+collapsed-panel('api-tester-options', 'Options')#api-tester-options
					.form-group
						label Debug Attribute
						+flag('option-debug', '', true, 'Enabled', 'Disabled')
					.form-group
						label Type Convert
						+flag('option-convert', '', true, 'Enabled', 'Disabled')


block scripts

	script.
		require(['jquery', 'modules/tester'], function ($, run) {
			$(function () {
				run();
			});
		});
