<div class="main-header">
    <div class="main-header-menu-wr">
        <a href="#" class="btn btn-default main-header-menu">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
    </div>
    <div class="main-header-user-wr">
        <a href="#" class="btn btn-default main-header-user">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
    <div class="main-header-nav">

    </div>
</div>
<div class="main-wrapper">
    <div class="main-menu">
        <ul class="main-menu-l">
            <li class="main-menu-li">
                <a class="main-menu-li-a" href="/home/">Home</a>
            </li>
            <li class="main-menu-li">
                <a class="main-menu-li-a" href="/about/">About</a>
            </li>
            <li class="main-menu-li">
                <a class="main-menu-li-a" href="/user/login/">User Login</a>
            </li>
            <li class="main-menu-li">
                <a class="main-menu-li-a" href="/user/register/">User Register</a>
            </li>
            <li class="main-menu-li">
                <a class="main-menu-li-a" href="/user/profile/">User Profile</a>
            </li>
            <li class="main-menu-li">
                <a class="main-menu-li-a" href="/todo/">Todo Lists</a>
            </li>
            <li class="main-menu-li">
                <a class="main-menu-li-a" href="/todo/0/">Todo list 0</a>
            </li>
            <li class="main-menu-li">
                <a class="main-menu-li-a" href="/todo/0/0/">Todo list 0 item 0</a>
            </li>
        </ul>
    </div>
    <div class="main-content">
    </div>
</div>