<div class="welcome">
    <h1>{{t 'static-home.welcome_to'}}</h1>
    <div class="clearfix welcome-btns">
        <a href="{{url 'user-login'}}" class="btn btn-lg btn-success">{{t 'static-home.sign_in'}}</a>
    </div>
</div>