form > .form-control + .form-control {
	margin-top: 10px;
}

form {
	padding: 10px;
	border: 1px solid #0000FF;
	margin-bottom: 20px;
}

form:empty {
	padding: 0;
	margin: 0;
	display: none;
}

.panel-body:before {
	content: "";
}

.requestParams-panel-wr { float: right; width: 38%; }
.form-panel-wr { float: left; width: 61%; }
