RewriteEngine On
Options +FollowSymlinks

# modules
RewriteRule ^opt/frontend/(.*)$ opt/frontend/$1 [L]
RewriteRule ^api-tester/?(.*)$ api-tester/$1 [R,L]
RewriteRule ^api/?(.*)$ api/$1 [L]
RewriteRule ^files/(.+)$ files/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^crm/(.*)$ crm-client/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ client/$1 [L]