@import url('../base/base.less');

html {
	height: 100%;
	overflow-y: scroll;
}
body {
	background: #fff;
}
.main {
	._clearfix();
	position: relative;
}
.main-wrapper {
	margin-top: 50px;
}
body {
	height: 100%;
	min-height: 100%;
}
.navbar {
	min-height: 10px;
}
.navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}