<div class="form-control-wr">
	{{#if label}}<label>{{label}}</label>{{/if}}
	<input autocomplete="on" placeholder="{{label}}" type="text" class="form-control input-sm" value="{{value}}" name="{{name}}"/>
</div>