@import url('../base/base.less');

.todo-lists-l { margin: 10px 0 15px; padding: 0; display: block; list-style: none; }
.todo-lists-add-btn-wr { overflow: hidden; margin: 15px 0; padding: 0;; }
.todo-lists-add-btn { font-weight: bold !important; letter-spacing: 1px; text-transform: uppercase; }
.todo-lists-view-select { float: left; width: auto !important; margin-right: 5px; }
.todo-lists-l-h { ._text(18px); font-weight: normal; color: #777; float: left; margin: 10px 0 0; padding: 0; }
.navbar-brand.todo-lists-title-wr {
	padding: 15px 0 5px 27px;
	ont-size: 20px !important; color: #285e8e !important;
}