{{#if label}}<label for="form-{{name}}">{{label}}</label>{{/if}}
<div class="form-control-wr">
    <textarea name="{{name}}" id="form-{{name}}" cols="30" class="form-control input-sm" rows="10"></textarea>
</div>
